  <div class="container">
    <h3>CALCULADORA DE IMC</h3>
    <div class="">
      <label class="" >Peso:</label>
      <div class="input-field col s6">
        <input id="weight" #weight name="weight" placeholder="Ex.: 23" class="" type="number">
      </div>
      <label class="" >Altura:</label>
      <div class="input-field col s6">
        <input id="height" #height name="height" placeholder="Ex.: 1,60" class="" type="number">
      </div>
    </div>
    <div class="container-margin">
      <button type="button" id="clean" (click)="clearIMC()" class="btn waves-effect waves-light btn-margin-left">Limpar</button>
      <button type="button" id="calcular" (click)="calcularIMC()" class="btn waves-effect waves-light btn-margin-left">Calcular</button>
    </div>
    <div class="container-margin">
      <label id="result" class="result"></label>
    </div>
  </div>
  <table class="table container">
    <tbody><tr>
      <td>IMC</td>
      <td>Resultado</td>
    </tr>
    <tr id="R1" #result1>
      <td>Menos do que 18,5</td>
      <td>Abaixo do peso</td>
    </tr>
    <tr id="R2" #result2>
      <td>Entre 18,5 e 24,9</td>
      <td>Peso normal</td>
    </tr>
    <tr id="R3" #result3>
      <td>Entre 25 e 29,9 </td>
      <td>Sobrepeso</td>
    </tr>
    <tr id="R4" #result4>
      <td>Entre 30 e 34,9</td>
      <td>Obesidade grau 1</td>
    </tr>
    <tr id="R5" #result5>
      <td>Entre 35 e 39,9</td>
      <td>Obesidade grau 2</td>
    </tr>
    <tr id="R6" #result6>
      <td>Mais do que 40</td>
      <td>Obesidade grau 3</td>
    </tr>
    </tbody>
  </table>
